/* Stili di base */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #191919;
    background-color: #fff;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #BED754;
    padding: 1em;font-size: 2em;
}

.navbar img {
    max-width: 100px; /* Regola la dimensione del logo qui */
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin-left: 20px;
}

.navbar a {
    color: #191919;
    text-decoration: none;
}

/* Splash image */
.splash-image {
    background-color: #E3651D;
    color: #fff;
    text-align: center;
    padding: 2em 0;
}

/* Sezioni Prodotti e Team */
.product-section, .team-section {
    padding: 1em;
}

.product-list, .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.product, .team-member {

    padding: 0.5em;
    text-align: center;
    flex-basis: 45%; /* Si adatta a due elementi per riga */
}

/* Footer */
footer {
    background-color: #191919;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

/* Media Queries per la Responsività */
@media screen and (max-width: 700px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar li {
        margin-top: 0.5em;
    }

    .product, .team-member {
        flex-basis: 100%; /* Ogni elemento occupa l'intera larghezza */
    }
}

@media screen and (max-width: 300px) {
    .navbar img {
        max-width: 80px;
    }

    .splash-image {
        padding: 1em 0;
    }

    .product, .team-member {
        padding: 0.5em;
    }
}
responsiveImg{
  width: 100%;
  max-width: 80px;
  height: auto;
}
.responsiveImgBeat{
  width: 100%;
  max-width: 200px;
  height: auto;
}